.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 260px;
  height: 100vh;
  background: #2078dc;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
  
}

.sidebar a {
  display: block;
  color: #ddd;
  text-decoration: none;
  margin: 15px 0;
}

.sidebar a:hover {
  color: rgb(219, 19, 19);
}

.sidebar-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  
}

.menu {
    color: #ffffff;
    font-size: 24px;
    margin-top: 65px;
}