/* MAIN WRAPPER */
.login-wrapper {
  min-height: 100vh;
  display: flex;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* LEFT IMAGE SIDE (BIGGER) */
.login-image {
  flex: 1.6;
  background: linear-gradient(135deg, #1e3a8a, #1e40af);
  color: white;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-image h1 {
  font-size: 40px;
  margin-bottom: 12px;
}

.login-image p {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 35px;
  max-width: 420px;
}

.login-image img {
  max-width: 95%;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(242, 242, 242, 0.35);
}

/* RIGHT FORM SIDE (SMALLER) */
.login-form {
  flex: 0.9;
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.login-form h2 {
  font-size: 28px;
  color: #111827;
}

.form-subtitle {
  color: #707580;
  margin-bottom: 25px;
}

/* INPUTS */
.login-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 15px;
  flex:auto;
  background-color: #ffffff; /* white background */
  color: #111827;           /* dark text */
}

.login-form input:focus {
  outline: none;
  border-color: #2563eb;
}

/* BUTTON */
.login-form button {
  width: 100%;
  padding: 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.login-form button:hover {
  background: #1d4ed8;
}

/* MESSAGES */
.error-box {
  background: #fee2e2;
  color: #991b1b;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.success-box {
  background: #dcfce7;
  color: #166534;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}

/* LINKS */
.form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-links span {
  color: #2563eb;
  cursor: pointer;
  font-size: 14px;
}

.form-links span:hover {
  text-decoration: underline;
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
  }

  .login-image {
    display: none;
  }

  .login-form {
    padding: 40px;
    flex: 1;
  }
}
