/* MAIN WRAPPER */
.register-wrapper {
  min-height: 100vh;
  display: flex;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

/* LEFT IMAGE SIDE (BIGGER) */
.register-image {
  flex: 1.6;
  background: linear-gradient(135deg, #1e3a8a, #1e40af);
  color: white;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-image h1 {
  font-size: 40px;
  margin-bottom: 12px;
}

.register-image p {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 35px;
  max-width: 420px;
}

.register-image img {
  max-width: 95%;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

/* RIGHT FORM SIDE (SMALLER) */
.register-form {
  flex: 0.9;
  background: #f9fafb;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

.register-form h2 {
  font-size: 28px;
  color: #111827;
}

.form-subtitle {
  color: #6b7280;
  margin-bottom: 25px;
}

/* INPUTS & SELECT */
.register-form input,
.register-form select {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 8px;
  flex:auto;
  border: 1px solid #d1d5db;
  font-size: 15px;
  background: #ffffff;
  color: #111827;
  transition: all 0.3s ease;
  appearance: none;
}

/* Custom dropdown arrow */
.register-form select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='12' height='7' viewBox='0 0 12 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7L0 0h12L6 7z' fill='%236b7280'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px 7px;
  padding-right: 35px;
}

/* Focus state */
.register-form input:focus,
.register-form select:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 6px rgba(37, 99, 235, 0.3);
}

/* BUTTON */
.register-form button {
  width: 100%;
  padding: 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

.register-form button:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(29, 78, 216, 0.3);
}

/* MESSAGES */
.error-box {
  background: #fee2e2;
  color: #991b1b;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.success-box {
  background: #dcfce7;
  color: #166534;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}

/* LINKS */
.form-links {
  margin-top: 20px;
  font-size: 14px;
}

.form-links span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}

.form-links span:hover {
  text-decoration: underline;
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
  .register-wrapper {
    flex-direction: column;
  }

  .register-image {
    display: none;
  }

  .register-form {
    padding: 40px;
    flex: 1;
  }
}
