# Copy this to .env and fill in real values
PORT=8000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net
MAIL_USER=your@email.com
MAIL_PASS=your_mail_app_password
SECRET_KEY=your_jwt_secret
ESEWA_SECRET_KEY=your_esewa_secret
ESEWA_PRODUCT_CODE=EPAYTEST
ADMIN_EMAIL=admin@yourapp.com
ADMIN_PASSWORD=Admin@Secure123
FRONTEND_URL=https://your-frontend.vercel.app
